<div class="register-box">
    <div class="register-logo">
        <a ui-sref="login"><b>SEEG</b>Sms</a>
    </div>
    <div class="register-box-body">
        <p class="login-box-msg">Creer un nouveau compte</p>
        <register-form></register-form>
        <br>
        <a ui-sref="login" class="text-center">J ai deja un compte</a>
        <br><br>
        <div class="row">
            <div class="col-xs-12">
                En vous connectant, vous acceptez nos <a href="#">Termes</a> et vous avez pris connaissance de notre <a href="#">Politique de securite</a>.
            </div>
        </div>
    </div>
</div>
